#modalMenu.modal.fade(
  tabindex="-1",
  aria-hidden="true",
  data-bs-backdrop="static",
  aria-label="Menu"
)
  .modal-dialog.modal-dialog-centered
    main.modal-content
      article.modal-header.flex-column
        img.ps-img-title.rounded-circle.mb-2(
          src=settings.logo,
          alt=settings.name
        )
        hgroup.text-center
          h1.mb-0= settings.name
          p.text-muted.mb-0 Стіл №
            = settings.table
      .modal-body.p-0
        include menu

      footer.modal-footer
        button.btn.mx-auto(data-bs-theme-switch, aria-label="Theme switch")
          +fa("brightness")
          +fa("moon")
